@import url("./variables.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-primary);
}

/* Style Header */

.header-main {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--color-bg-dark);
  box-shadow: var(--shadow-lg);
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.headder-left,
.headder-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
}

.headder-left img {
  width: 75px;
  height: 56px;
}

.headder-left input {
  width: 90%;
  height: 36px;
  border: none;
  padding: 10px;
}

.headder-right {
  gap: var(--space-xl);
  justify-content: end;
}

.headder-right a {
  text-decoration: none;
  color: var(--color-text-inverse);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.header-right-login {
  padding: 8px 30px;
  background: var(--color-bg-card);
}

.header-right-login a {
  color: var(--color-text-active);
}

.headder-right-cart a,
.headder-right-svg-more a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxs);
}
/* Style Main */

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 1fr;
}

/* top-main Style */

.top-main {
  background: var(--color-bg-secondary);
  box-shadow: var(--shadow-lg);
  padding: 20px 20px;
}

.top-main-categories {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.categories-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  text-decoration: none;
  color: var(--color-text-primary);
}

.categories-item img {
  height: 64px;
  width: 64px;
}

.categories-item span img {
  height: 12px;
  width: 12px;
}

.categories-item:hover {
  color: var(--color-text-active);
}

/* bottom-main Style */

.bottom-main {
}

/* Style Footer */

.footer {
}
